:root {
    --text-color-base: #e0e0e0;
    --text-color-dark: #85858e;
    --text-color-lowcontrast: #7d7d7d;
    --background-color-main: #2c2c2c;
    --font-size-header-1: 2.5em;
    --font-size-body: 1em;

    --font-size-header-1-mobile: 3em;
    --font-size-body-mobile: 1.5em;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-base);
    background-color: var(--background-color-main);
}

.lowcontrast {
    color: var(--text-color-lowcontrast);
}

#tagline {
    padding-top: 10px;
    text-align: center;
}

a, a:visited {
    color: var(--text-color-base);
    text-decoration: underline;
}

a:hover, a:focus {
    color: var(--text-color-dark);
    font-weight: bold;
}

@media screen and (max-width: 60em) {
    #name {
        font-size: var(--font-size-header-1-mobile);
    }
    #tagline {
        font-size: var(--font-size-body-mobile);
        width: 80%;
    }
}

@media screen and (min-width: 60em) {
    #name {
        font-size: var(--font-size-header-1);
    }
    #tagline {
        font-size: var(--font-size-body);
        width: 45%;
    }
}
