:root {
    --text-color-base: #444;
    --text-color-dark: #111;
    --text-color-lowcontrast: #9c9c9c;
    --background-color-main: #fffff8;
    --font-size-header-1: 30px;
    --font-size-body: 16px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-base);
    background-color: var(--background-color-main);
}

.lowcontrast {
    color: var(--text-color-lowcontrast);
}

#tagline {
    padding-top: 10px;
    text-align: center;
}

a, a:visited {
    color: var(--text-color-base);
    text-decoration: underline;
}

a:hover, a:focus {
    color: var(--text-color-dark);
    font-weight: bold;
}

@media (max-width: 1100px) {
    #name {
        font-size: var(--font-size-header-1);
    }
    #tagline {
        font-size: var(--font-size-body);
        width: 80%;
    }
}

@media (min-width: 1100px) {
    #name {
        font-size: var(--font-size-header-1);
    }
    #tagline {
        font-size: var(--font-size-body);
        width: 45%;
    }
}
