body {
    font-family: 'Nanum Myeongjo', 'Georgia', serif;
    font-size: 1.2em;
    color: var(--text-color-base);
    background-color: var(--background-color-main);
    margin: 0 auto;
}

#content {
    max-width: 700px;
    padding: 1rem 3rem;
    line-height: 1.6;
}

/* Headers */
.visually-hidden {
    display: none;
}

.anchor-wrapper > * {
    display: inline-block;
}

.header-anchor, .header-anchor:visited {
    color: var(--text-color-lowcontrast);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    max-width: 100%;
}

/* CODE BLOCKS */
pre[class*="language-"] {
    font-family: monospace;
    padding: 0.8em 1.5em;
    border-radius: .3em;
    font-size: 0.9em;
    overflow-x: scroll;
}

code[class*="language-"] {
    padding: 0;
    /* word-wrap: break-word; */
    /* white-space: pre-wrap; */
}

pre[class*="language-"]:hover, pre[class*="language-"]:focus { 
    width: min-content; 
}

pre[data-language]::before { 
    content: attr(data-language); 
    display: block; 
    color: var(--link-hover-color);
}

/* blog post classes */
.post-title {
    line-height: 1em;
}

.post-metadata {
    color: var(--text-color-lowcontrast);
    display: inline-block;
}

.post-date {
    display: inline-block;
}

.post-tag {
    display: inline-block;
}

/* blog index classes */
.post-item-index {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.post-date-index {
    margin-right: 2em;    
}

/* project index */
.project-list {
    padding-left: 20px;
}

.project-item {
    list-style-type: none;
    padding-bottom: 10px;
}


/* links */
a {
    color: var(--text-color-base);
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--link-hover-color);
}

/* misc */
hr {
   border: none;
   border-top: 1px solid var(--text-color-lowcontrast); 
   border-color: var(--text-color-lowcontrast); 
   overflow: visible;
   text-align: center;
   height: px;
   opacity: 50%;
}

.footer {
    color: var(--text-color-lowcontrast);
}

.footer a {
    display: inline-block;
}

.footnote-item p {
    padding: 5px;
}

.footnote-item:target {
    background-color: var(--background-color-highlight);
}