---
layout: layouts/home.njk
title: garden
permalink: "/garden/index.html"
---
<h1>garden</h1>

<p>a digital garden, commonplace book, however you'd like to call it.</p>

<p>resources, notes, links, scraps, ideas.</p>
