---
layout: layouts/home.njk
title: projects
permalink: "/projects/index.html"
---
<h1>projects</h1>

<p>experiments and things</p>

<ul class="project-list">
    {% for project in collections.projects %}
    <li class="project-item">
        <a href="{{ project.url }}"><b>{{ project.data.title | lower }}</b></a> ~ 
        <span class="project-description">{{ project.data.description }}</span> 
        
        <span class="project urls">
            {% if project.data.repoUrl %}(<a href="{{ project.data.repoUrl }}">code</a>){% endif %}
            {% if project.data.demoUrl %}(<a href="{{ project.data.demoUrl }}">demo</a>){% endif %}
        </span> 
    </li>
    {% endfor %}
</ul>